body {
    background-color: rgb(1, 20, 1);
}

header, main, footer {
    color: darkolivegreen;
    font-family: 'Press Start 2P', cursive;
}

header {
    border-bottom: solid white 2px;
}

summary {
    color: darkolivegreen;
    font-family: 'VT323', monospace;
    font-size: 25px;

}

main {
    height: 500px;
}

footer {
    background-color: darkolivegreen;
    color: white;
    height: 50px;
    border-top: solid white 2px;
    font-size: 10px;

}

.word, .guessed, .message, .scoreboard {
    border: solid darkolivegreen 2px;
    color: darkolivegreen;
    font-family: 'VT323', monospace;
}

.word {
    height: 150px;
}

.guessed, .button {
    height: 70px;
}

.scoreboard, .message {
    height: 80px;
}